<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="offset-1 col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ajout d'un nouvel utilisateur</h5>
        </div>
        <div class="card-body">
          <div *ngIf="wrongCredential" class="alert alert-danger text-center" role="alert">
            Données invalide!
          </div>
          <form [formGroup]="userForm">
            <div class="px-5">
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Nom</label>
                    <input name="nom" type="text" class="form-control" placeholder="Nom" formControlName="nom">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Prenom</label>
                    <input name="prenom" type="text" class="form-control" placeholder="Prenom"  formControlName="prenom">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Adresse</label>
                    <input name="adresse" type="text" class="form-control" placeholder="Adresse"  formControlName="adresse">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Ville</label>
                    <input name="ville" type="text" class="form-control" placeholder="Ville"  formControlName="ville">
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Pays</label>
                    <select name="destination" class="form-control" formControlName="pays">
                      <option [value]=0 selected>Selectionner un pays</option>
                      <option *ngFor="let destinationItem of pays$ | async as pays" [value]="destinationItem">{{destinationItem.nom}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label>Téléphone</label>
                    <input name="telephone" type="tel" class="form-control"  placeholder="Téléphone"  formControlName="telephone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Description</label>
                    <textarea name="description" rows="4" cols="80" class="form-control" placeholder="Description"  formControlName="description"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Salaire</label>
                    <input name="salaire" type="number" class="form-control" placeholder="Salaire"  formControlName="salaire">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label for="email">Adresse mail</label>
                    <input name="email" id="email" type="email" class="form-control" placeholder="Email" formControlName="email" (change)="checkEmail()">
                    <div *ngIf="notUniqMail" class="text-danger text-center">
                      Adresse mail deja utilisé
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Mot de passe</label>
                    <input name="password" type="text" class="form-control" placeholder=""  formControlName="password">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="offset-4 col-4">
                <button type="submit"
                        class="btn btn-round btn-primary col-12"
                        [disabled]="!userForm.valid || notUniqMail"
                        (click)="signUp()"
                >
                  Enregistrer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
