<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h4 class="card-title"> Liste des Destinantions</h4>
          <a routerLink="/nouvelle-destination" class="btn btn-round btn-primary mt-4 mr-5">Nouvelle Destination</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
              <th>
                libelle
              </th><th>
                Prix du Kilo
              </th>
              <th>
                Prix de la Douane
              </th>
              <th>
                Jours de depart
              </th>

              </thead>
              <tbody>
              <ng-container *ngIf="destinations">
                <ng-container *ngFor="let destination of destinations">
                  <ng-container *ngIf="destination.isArchivate;then isLocked else notLocked"></ng-container>
                  <ng-template #isLocked>
                    <tr class="bg-danger text-light">
                      <td>
                        {{ destination.libelle }}
                      </td>
                      <td>
                        {{ destination.prixKilos }}
                      </td>
                      <td>
                        {{ destination.prixDouane }}
                      </td>
                      <td>
                        {{ destination.jourDeDepart }}
                      </td>
                      <td class="text-right">
                        <a routerLink="/destinations/{{ destination.id }}" class="btn btn-round bg-light text-primary mr-1"><i class="fa fa-eye"></i></a>
                        <button (click)="lockUser(destination.id,false,$event)" class="btn btn-round bg-light text-danger mr-1"><i class="fa fa-archive"></i></button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template #notLocked>
                    <tr class="">
                      <td>
                        {{ destination.libelle }}
                      </td>
                      <td>
                        {{ destination.prixKilos }}
                      </td>
                      <td>
                        {{ destination.prixDouane }}
                      </td>
                      <td>
                        {{ destination.jourDeDepart }}
                      </td>
                      <td class="text-right">
                        <a routerLink="/destinations/{{ destination.id }}" class="btn btn-round btn-primary mr-1"><i class="fa fa-eye"></i></a>
                        <button (click)="lockUser(destination.id,true,$event)" class="btn btn-round btn-danger mr-1"><i class="fa fa-archive"></i></button>
                      </td>
                    </tr>
                  </ng-template>
                </ng-container>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
