
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#pablo">{{getTitle()}}</a>
        </div>
        <button class="navbar-toggler" type="button" (click)="collapse()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
          <a [routerLink]="['/rechercher/coli']" class="rounded-sm btn btn-primary p-3 py-1">
            Rechercher un coli<i class="now-ui-icons ui-1_zoom-bold ml-1"></i>
          </a>
          <ul class="navbar-nav">
            <li *ngIf="($user | async)" class="nav-item" ngbDropdown>
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                {{ ($user | async).nom }}
                <i class="me-1 now-ui-icons users_single-02"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a routerLink="/me" class="dropdown-item nav-link text-dark">
                  Profil
                </a>
                <button class="dropdown-item" (click)="logout()">Deconnection</button>
              </div>
            </li>
            <li *ngIf="!($user | async)" class="nav-item">
              <a routerLink="/auth/login" class="nav-link">
                Connexion
              </a>
          </ul>
        </div>
    </div>
</nav>
