<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste d'utilisateurs</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
              <th>
                Nom
              </th><th>
                Prenom
              </th>
              <th>
                Téléphone
              </th>
              <th>
                Ville
              </th>
              <th class="text-right">
                Email
              </th>

              </thead>
              <tbody>
                <tr *ngFor="let user of $users | async"
                  class="{{user.isLocked ? 'bg-danger text-light' : ''}}">
                  <td>
                    {{ user.nom }}
                  </td>
                  <td>
                    {{ user.prenom }}
                  </td>
                  <td>
                    {{ user.telephone }}
                  </td>
                  <td>
                    {{ user.ville }}
                  </td>
                  <td class="text-right">
                    {{ user.email }}
                  </td>
                  <td class="text-right">
                    <a routerLink="/utilisateurs/{{ user.id }}" class="btn btn-round bg-light text-primary mr-1"><i class="fa fa-eye"></i></a>
                    <ng-container *ngIf="user.roles[0] == 'ROLE_EMPLOYE'">
                      <button (click)="lockUser(user,!user.isLocked)" class="btn btn-round bg-light text-danger mr-1"><i class="fa fa-archive"></i></button>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
