<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste de Tous les colis</h4>
          <div class="col-md-12 mb-xl-0">
            <div class="card">
              <div class="card-header p-1 px-4">
                <div class="row">
                  <div class="col-12 d-flex justify-content-end">
                    <form class="w-100">
                      <div class="hstack gap-1  flex w-100" [formGroup]="searchForm">
                        <div class="ms-auto">
                          <select class="form-control text-primary" formControlName="month">
                            <option value="1">Janvier</option>
                            <option value="2">Fevrier</option>
                            <option value="3">Mars</option>
                            <option value="4">Avril</option>
                            <option value="5">Mai</option>
                            <option value="6">Juin</option>
                            <option value="7">Juillet</option>
                            <option value="8">Aout</option>
                            <option value="9">Septembre</option>
                            <option value="10">Octobre</option>
                            <option value="11">Novembre</option>
                            <option value="12">Decembre</option>
                          </select>
                        </div>
                        <div class="">
                          <select class="form-control text-primary" formControlName="year">
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  #
                </th>
                <th>
                  Destinations
                </th>
                <th>
                  Noms expediteurs
                </th>
                <th>
                  Téléphones expediteurs
                </th>
                <th>
                  Noms bénéficiaires
                </th>
                <th>
                  Téléphones bénéficiaires
                </th>
                <th class="text-center pb-0">
                  Montants
                </th>
                <th>
                  Status
                </th>
              </thead>
              <tbody>
              <ng-container *ngIf="colis$ | async as colis">
                  <tr  *ngFor="let coli of colis; let i = index">
                    <td class="text-center">
                      {{ i+1 }}
                    </td>
                    <td class="text-center">
                      {{ coli.destination.libelle }}
                    </td>
                    <td class="text-center">
                      {{ coli.nomExpediteur }}
                    </td>
                    <td class="text-center">
                      {{ coli.telephoneExpediteur }}
                    </td>
                    <td class="text-center">
                      {{ coli.nomBeneficiaire }}
                    </td>
                    <td class="text-center">
                      {{ coli.telephoneBeneficiaire }}
                    </td>
                    <td class="text-center">
                      {{ coli['prix_total'] }}
                      <p class="category text-danger text_bold mb-0">
                        (-{{ coli.reste }})
                      </p>
                    </td>
                    <td class="text-center"
                          [ngClass]="{
                            'bg-secondary-subtle': coli.status=='ATTENTE_EXPEDITION' || coli.status=='RECUPERÉ',
                            'text-secondary': coli.status=='ATTENTE_EXPEDITION' || coli.status=='RECUPERÉ',

                            'bg-warning-subtle': coli.status=='TRANSIT',
                            'text-warning': coli.status=='TRANSIT',

                            'bg-success-subtle': coli.status=='EXPEDIÉ',
                            'text-success': coli.status=='EXPEDIÉ',
                          }"
                      >
                        <i class="fa" [ngClass]="{
                              'fa-solid fa-hourglass-start': coli.status=='ATTENTE_EXPEDITION',
                              'fa-solid fa-ship': coli.status=='TRANSIT',
                              'fa-solid fa-plane-circle-check': coli.status=='EXPEDIÉ',
                              'fa-solid fa-house-circle-check': coli.status=='RECUPERÉ',
                            }"
                        ></i>
                      </td>
                    <td class="hstack gap-1 flex">
                        <div>
                          <a routerLink="/admin/colis/{{ coli.id }}" class="btn btn-round btn-primary mr-1"
                          ><i class="fa fa-eye"></i></a>
                        </div>
                        <div>
                          <button (click)="upColis(
                          coli, coli.status == 'ATTENTE_EXPEDITION' ? 'TRANSIT'
                                    : coli.status == 'TRANSIT' ? 'EXPEDIÉ'
                                    : coli.status == 'EXPEDIÉ' ? 'RECUPERÉ'
                                    : 'ATTENTE_EXPEDITION'
                          )" class="btn btn-round mr-1"
                          [ngClass]="{
                              'btn-warning': coli.status=='ATTENTE_EXPEDITION',
                              'btn-secondary': coli.status=='RECUPERÉ' || coli.status=='EXPEDIÉ',
                              'btn-success': coli.status=='TRANSIT'
                             }"
                          >
                            <i class="fa"
                               [ngClass]="{
                              'fa-solid fa-hourglass-start': coli.status=='RECUPERÉ',
                              'fa-solid fa-house-circle-check': coli.status=='EXPEDIÉ',
                              'fa-solid fa-plane-circle-check': coli.status=='TRANSIT',
                              'fa-solid fa-ship': coli.status=='ATTENTE_EXPEDITION',
                            }"></i>
                          </button>
                        </div>
                        <div *ngIf="!coli.isSolde" class="text-center">
                          <button (click)="getReliquat(coli)"
                                  class="btn btn-round btn-info"
                          >
                            <i class="fa fa-money-check"></i>
                          </button>
                        </div>
                      </td>

                  </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
