<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="offset-3 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Details Pays</h5>
        </div>
        <div class="card-body">
          <div *ngIf="wrongCredential" class="alert alert-danger text-center" role="alert">
            Données invalide!
          </div>
          <form #form="ngForm" (submit)="upDest(form)">
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Nom</label>
                    <input name="nom" id="nom" type="text" class="form-control" placeholder="Sénegal" [(ngModel)]="pays.nom">
                    <div *ngIf="uniqDest" class=" text-danger">
                      Nom du pays existant!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="offset-3 col-6">
                <button type="submit" class="btn btn-round btn-primary col-12">Enregistrer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
