
<div class="logo">
    <a href="/" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/img.png"/>
      </div>
    </a>
    <a href="/" class="simple-text logo-normal">
        Keas Express
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}} nav-item">
        <a [routerLink]="[menuItem.path]">
          <i class="fa fa-solid {{menuItem.icon}}"></i>
          <p>{{menuItem.title}}</p>
        </a>
      </li>
    </ul>
</div>
