
<div class="logo">
    <a href="/" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/img.png"/>
      </div>
    </a>
    <a href="/" class="simple-text logo-normal">
        Keas Express
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
      <ng-container *ngFor="let menuItem of menuItems">
<!--        <ng-container *ngIf="isAdmin">-->
          <li routerLinkActive="active" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
              <i class="now-ui-icons {{menuItem.icon}}"></i>
              <p>{{menuItem.title}}</p>
            </a>
          </li>
<!--        </ng-container>-->
<!--        <ng-container *ngIf="!isAdmin">-->
<!--          <li routerLinkActive="active" *ngIf="menuItem.isAdmin == false" class="{{menuItem.class}} nav-item">-->
<!--            <a [routerLink]="[menuItem.path]">-->
<!--              <i class="now-ui-icons {{menuItem.icon}}"></i>-->
<!--              <p>{{menuItem.title}}</p>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ng-container>-->
      </ng-container>
    </ul>
</div>
