



<div class="panel-header-lg" style="  background-image: url('./assets/img/bg-body2.jpeg');
">

</div>

<div class="main-content">
  <div class="row">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Gains prévus du Jour</p>
            <h4 class="mb-0">{{statistiques.dayBeneficePrevus}}Fcfa</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">

        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Gains réel du Jour</p>
            <h4 class="mb-0">{{statistiques.dayBeneficeReel}}Fcfa</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">

        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Dépot du jour</p>
            <h4 class="mb-0">{{statistiques.colisByDay}} colis</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Liste d'employées</h5>
          <h4 class="card-title"> Statistiques employées</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>
                <th>
                  prénom
                </th>
                <th>
                  ville
                </th>
                <th class="text-right">
                  Gains
                </th>
                <th class="text-right">
                  Avance
                </th>
                <th class="text-right">
                  Impayé externe
                </th>
              </thead>
              <tbody>
                <ng-container *ngIf="statistiques.usersStats">
                  <ng-container *ngFor="let user of statistiques.usersStats">
                    <tr>
                      <td>
                        {{user.nom}}
                      </td>
                      <td>
                        {{user.prenom}}
                      </td>
                      <td>
                        {{user.ville}}
                      <td class="text-right">
                        {{user.prix_total}}
                      </td>
                      <td class="text-right">
                        {{user.avance}}
                      </td>
                      <td class="text-right">
                        {{user.avance}}
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
